@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 1600px;
    height: 760px;
}

body {
    background-color: #1A0B2E;
    color: #ffffff;
}
/* share propartise */
.display-flex{
    display: flex;
}
.nav-links li{
    list-style: none;
    margin-right: 30px;
}
.nav-links a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 20px;
}
.nav-bar h2{
    font-size: 3rem;
    font-weight: 700px;
    padding-bottom: 20px;
}